body{font-family: punctuation,\5FAE\8F6F\96C5\9ED1;font-size: 12px;background-image: url("images/64073_bg.jpg");background-repeat: repeat;}



#top{height: 41px;display: block;width: 100%;background: #000;}
#maintop{width: 960px;margin: 0 auto;height: 41px;}
#maintop ul{float: left;position: relative;}
#topR{width: 11px;height: 41px;display: block;position: absolute;right: 10px;top: 10px;}
.topR{background-image: url("images/icenter-jan140807095541.png");background-position: -337px -85px;width: 11px;height: 9px;cursor: pointer;display: inline-block;margin-top: 6px;}
.z{float: left;width: 90px;height: 41px;background-image: url("images/icenter.32-jan140807095541.png");background-position: -62px 0;display: block;}
.toplist{float: left;position: relative;height: 41px;padding-left: 20px;width: 75px;display: block;}
.picsize{width: 16px;height: 16px;display: block;background-image: url("images/all.png");margin-top: 12px;float: left;}
.geren{background-position: -740px -50px;}
.name{padding-left: 10px;text-decoration: none;color: #fff;font-weight: bold;font-size: 12px;line-height: 40px;cursor: pointer;}
.toplist2{float: left;position: relative;height: 41px;padding-left: 10px;width: 91px;display: block;}
.zhuye{background-position: -740px -100px;}
.drop-down-arrow{width: 0;height: 0;font-size: 0;border-width: 3px;border-style: solid dashed dashed dashed;border-left-color: transparent;border-right-color: transparent;border-bottom-color: transparent;_zoom: 1;line-height: 0;position: absolute;top: 19px;right: 8px;border-top-color: #fff;}
.toplist3{float: left;position: relative;height: 41px;width: 67px;display: block;padding-left: 10px;}
.haoyou{background-position: -740px -75px;}
.yingyong{background-position: -740px -125px;}
.zhuangban{background-position: -740px -150px;}

.user-info{float: right;line-height: 41px;padding-left: 10px;font-size: 0;white-space: nowrap;width: 196px;}/*white-space: nowrap;文本不换行*/
.user-home{padding: 0 5px;text-decoration: none;height: 41px;max-width: 86px;float: left;}
.user-avatar{width: 24px;height: 24px;margin-right: 8px;border-radius: 2px;vertical-align: top;margin-top: 9px;}
.toplist4{width: 96px;height: 41px;line-height: 41px;display: block;float: left;}
.namespacial{font-size: 14px;}
.namenext{margin: 13px 0 0 5px;}
.namenextpic1{background-position: -765px -75px;}
.toplist5{width: 26px;height: 41px;line-height: 41px;display: block;float: left;text-decoration: none;margin: 0 0 0 4px;}
.namenextpic2{background-position: -765px -100px;}
.namenextpic3{background-image: url("images/qzone-vip.gif");width: 22px;height: 19px;display: block;display: inline-block;background-repeat: no-repeat;font-size: 0;overflow: hidden;}

.top-search{float: right;margin: 9px 0 0 5px;position: relative;display: block;}
.search-box{padding: 2px 0;}
.search-input{display: inline-block;vertical-align: top;width: 105px;height: 20px;border: none;border-radius: 2px;padding: 0 25px 0 5px;background-color: rgba(255,255,255,0.25);}
.search-button{display: inline-block;vertical-align: top;width: 24px;height: 24px;background-image: url("images/all.png");background-position: -765px -150px;position: absolute;right: 0;top: 3px;}

.music-container{float: right;width: 50px;padding: 10px;margin-top: 1px;position: relative;}
.music-panel{height: 20px;width: 50px;display: block;}
.music-play{float: left;width: 22px;height: 20px;text-align: center;margin-right: 1px;border-top-left-radius: 1px;border-bottom-left-radius: 1px;background-color: #303030;}
.music-panel i{width: 16px;height: 16px;margin-top: 2px;}
.ico-music-play{background-image: url("images/all.png");background-position: -765px -25px;display: inline-block;}
.ico-music-play2{background-image: url("images/all.png");background-position: -765px -50px;display: inline-block;}
.music-play2{float: left;width: 25px;height: 20px;text-align: center;margin-right: 1px;border-top-left-radius: 1px;border-bottom-left-radius: 1px;background-color: #303030;}
#headContainer{width: 980px;height: 300px;background-repeat: no-repeat;position: relative;margin: 0 auto;display: block;}
#head-info{position: absolute;top: 20px;left: 0;color: #5d7895;}
#head-info h1{font-size: 28px;font-weight: normal;margin-bottom: 3px;}
.head-description{font-size: 14px;}
#head-name{position: absolute;bottom: 20px;left: 165px;}
.user-name {text-shadow:1px 1px 1px rgba(0,0,0,0.2);font-size: 20px;max-width: 200px;color: #5d7895;float: left;}
.pic1{background-image: url("images/qz_vip_icon_l_gray_0.png");width: 23px;height: 26px;display: block;margin-left: 15px;margin-top: -2px;}
.pic2{background-image: url("images/icon-vip-open.gif");width: 55px;height: 16px;display: block;margin-top: 7px;margin-left: 2px;}
#zan{position: absolute;right: 4px;bottom: 18px;z-index: 20;display: block;width: 136px;height: 32px;}
.zan{border: 1px solid rgba(0,0,0,.5);border-radius: 4px;background-image: url("images/btn-x.png");}
.zanA{width: 80px;height: 32px;border-right: 1px solid #343434;}
.zan li{float: left;}
#zanpic{width: 20px;height: 20px;background-image: url("images/icenter.32-jan140807095541.png");background-position: -130px -42px;display: block;margin-top: 7px;margin-left: 10px;}
.zan span{float: left;line-height: 32px;color: #fff;}
.zan1{padding-left: 5px;}
.zan2{width: 40px;height: 32px;display: block;padding-left: 15px;}
#titlehang{height: 32px;left: 150px;top: 302px;position: absolute;}
#hangmain{width: 700px;height: 50px;font-size: 14px;color: #333;display: block;}
#hangmain ul{padding-left: 15px;}
#hangmain li{float: left;height: 50px;display: block;line-height: 50px;position: relative;text-align: center;}
#hangmain li a{display: inline-block;border-bottom-color: transparent;border-bottom-style: solid;border-bottom-width: 3px;height: 47px;line-height: 47px;color: #333;text-decoration: none;}
.hangmainS{width: 72px;}
.hangmainD{width: 58px;}
.shop-item{position: absolute;top: 30px;left: 790px;width: 200px;height: 56px;display: block;border: 1px solid #333;}
.weather-module{position: absolute;width: 180px;color: #fff;text-shadow: 1px 1px 1px rgba(0,0,0,.2);z-index: 150;font-size: 12px;margin-right: 20px;}
#face{width: 126px;height: 126px;display: block;position: absolute; left: -1px;top: 200px;background-repeat: no-repeat;}
.user-avatar2{width: 120px;height: 120px;border-radius: 2px;border: #FFF 3px solid;}



#background-container{background-repeat: no-repeat;background-position: center top;background-attachment: scroll;background-image:url("http://ctc.i.gtimg.cn/qzone/space_item/orig/9/64073_top.webp");width: 1349px;height: 6131px;display: block;}/*background-attachment: scroll;背景图片随内容滚动 fixed不滚动*/
#layout-body{width: 980px;height: 6353px;display: block;margin: 70px auto;}
#layout-bodyL{width: 170px;height: 1905px;display: block;float: left;}
#layout-bodyL1{width: 170px;height: 456px;display: block;}
#layout-bodyL1 li{height: 36px;width: 170px;display: block;background-color: #fff;}
.L1size{width: 30px;height: 36px;display: block;float: left;padding-left: 10px;}
.L1txt{width: 130px;height: 36px;display: block;float: left;}
.L1pic{background-image: url("images/all.png");width: 16px;height: 16px;display: block;margin: 10px 0 0 14px;}

.L1txtA{line-height: 36px;padding-left: 10px;text-decoration: none;color: #333;}
.L1pic1{background-position: -815px -75px;}
.L1pic2{background-position: -815px -100px}
.L1pic3{background-position: -465px -100px}
.L1pic4{background-position: -415px -25px}
.L1pic5{background-position: -890px -50px}
.L1pic6{background-position: -865px -125px}
.L1pic7{background-position: -815px -125px;}
.L1pic8{background-position: -840px -75px}
.L1pic9{background-position: -815px -175px}
.L1pic10{background-position: -840px -175px}
.L1pic11{background-position: -890px -0px}
.L1pic12{background-position: -840px -125px}

#layout-bodyL2{width: 170px;height: 496px;display: block;background-color: #fff;}
.L2pic{width: 16px;height: 16px;display: block;margin: 10px 0 0 14px;background-image: url("images/all.png");}
.L2pic1{background-position: -865px -175px;}
.L2pic2{background-position: -840px -175px;}
.L2pic3{background-position: -865px -25px;}


#layout-bodyM{width: 534px;height: 3071px;display: block;float: left;padding-left: 23px;}
#idQbossHotbar{width: 534px;position: relative;}
#shuru{width: 534px;height: 68px;display: block;margin-top: 10px;background-color: #fff; border-top: 1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6;}
#shuruL{width: 384px;height: 70px;display: block;float: left;}
#shuruL input{width: 384px;height: 68px;display: block;color:  #e6e6e6;}
.shurupic{background-image: url("images/all.png");}
.shurupic1{background-position: -490px -175px;}
.shurupic2{background-position: -490px -125px;}
.shurupic3{background-position: -490px -50px;}
#shuru li{width: 49px;height: 68px;display: block;float: right;border-right: 1px solid #e6e6e6;}
#shuru a{width: 24px;height: 24px;display: block;margin-left: 13px;margin-top: 22px;}

#fn-feed-mod-bd{width: 534px;height: 54px;display: block;border: 1px solid #e6e6e6;background-color: #fff;margin-top: 10px;}
#showMore{padding: 12px 35px 12px 10px;position: relative;}
.user-list{float: left;height: 30px;}
.user-list a{margin-right: 10px;}
.info-box{float: left;overflow: hidden;white-space: nowrap;word-wrap:normal;text-overflow:ellipsis;line-height: 30px;}
.info-txt{margin-right: 8px;color: #8c8c8c;}
.more{height: 30px;position: absolute;top: 12px;right: 16px;}
.ui-icon{display: inline-block;background-repeat: no-repeat;font-size: 0;overflow: hidden;}
.icon-arrow-right{width: 16px;height: 16px;margin-top: 7px;background-image: url("images/all.png");background-position: -940px -50px;}



























